{% extends 'base.html' %}

{% block title %}{{user.username}} Details{% endblock %}

{% block content %}
<h1 class="display-2 text-success text-center">Hi, {{user.first_name.title()}}!</h1>
<div class="container">
    <div class="jumbotron py-3">
        <div class="row d-flex flex-wrap justify-content-center text-center">
            <div class="col-sm-6 my-2">
                <div class="card bg-info">
                <div class="card-body">
                    <h5 class="card-title">Username</h5>
                    <p class="card-text">{{user.username}}</p>
                </div>
                </div>
            </div>
            <div class="col-sm-6 my-2">
                <div class="card bg-primary">
                <div class="card-body">
                    <h5 class="card-title">User Email</h5>
                    <p class="card-text">{{user.email}}</p>
                </div>
                </div>
            </div>
            <div class="col-sm-8 my-2">
                <div class="card bg-secondary">
                <div class="card-body">
                    <h5 class="card-title">Name</h5>
                    <p class="card-text">{{user.first_name}}  {{user.last_name}}</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<hr style="background-color:white">
{% if user.feedback %}
<h2>Feedback Snippets</h2>
<div class="container">
    <div class="row d-flex flex-wrap justify-content-center mt-3">
        {% for feedback in user.feedback%}
        <div class="col-sm-4 my-2">
            <div class="card bg-sandy">
                <div class="card-body">
                    <h5 class="card-title">{{feedback.title}}</h5>
                    <p class="card-text">{{feedback.content}}</p>
                </div>
            </div>
            <div class="card-footer bg-bluepurple">
                <form style="display:inline" action="/feedback/{{feedback.id}}/delete" method="POST">
                    <div class="form-group row justify-content-around">
                        <button class="btn btn-lg btn-danger col-5 form-control"><i class="fas fa-trash"></i></button>
                        <a href="/feedback/{{feedback.id}}/update" class="btn btn-lg btn-info col-5 form-control">Edit</a>
                    </div>
                    
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endif %}
<br>
<div class="container text-center">
    <a class="btn btn-lg purplebutton mx-3" href="/users/{{user.username}}/feedback/add">Add Your Feedback</a>
    <a class="btn btn-danger btn-lg mx-3" href="/users/{{user.username}}/confirm-delete">Delete Account</a>
</div>


{% endblock %}

